.button__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button__container button{
    padding: 0.8em;
    width: 15rem;
    background: none;
    border: 1px solid aqua;
    border-radius: 5px;
    background: #393d42;
    margin-bottom: 1em;
    cursor: pointer;
}