.covid__data__main__container{
    width: 50rem;
}

.covidData__main__container{
    display: flex;
    flex-direction: column;
    padding: 0.3em;
}

.continent__name h1{
    font-size: 2rem;
    padding-bottom: 1em;
}

.continent__holder {
    display: flex;
    justify-content: space-evenly;

}

.covidData__container{
    width: 15rem;
    text-align: center;
    border-radius: 5px;
    background-color: #393d42;
}

.covidData__container span{
    display: block;
}