.covid__Chart{

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    /* text-align: center; */
    align-items: center;
}

.bg{
    width: 50rem;
    border-radius: 4px;
    background-color: #22272e;
}

.chart__Container{
    position: relative;
    margin: auto;
    height: 40vh;
    width: 55vw;
}