.covid__Chart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.covid__Chart h1{
    
    font-size: 2rem;
}

.chart__Container{

    /* background: #22272e; */
    margin-left: -1rem;
    padding: 1em;
    width: 50rem;

}

@media screen and (max-width: 1172px) {

    .chart__Container{
        margin: 2rem;
        /* width: 100vw; */
    }
  }

  @media screen and (max-width: 830px) {

    .chart__Container{
        order: 2;
        width: 100vw;
    }
  }


  
  