.worldwide__main__container h1{
    font-size: 2rem;
    padding-bottom: 1em;
}

.worldwide__container{

    width: 15rem;
    text-align: center;
    border-radius: 5px;
    background-color: #393d42;
    margin-bottom: 1rem;
}

.worldwide__container span{
    display: block;
}