.worldwide__container{

    text-align: center;
    width: 10rem;
    padding: 0.8em;

    background: #393d42;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.worldwide__container h1{
    font-size: 0.5rem;
}