@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
  padding: 0;
  margin: 0;
  color: aqua;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

h1{
  font-size: 1rem;
}

body{
/* 
  background-attachment: fixed;
  background-image: url('./assets/images/covid-bg-3.jpg');
  background-size: cover;
  object-fit: fill;
  background-repeat: no-repeat;
  overflow-x: hidden; */

  background: #22272e;
  width: 100vw;
  height: 100vh;

  /* source : https://dribbble.com/shots/14557354-Dimensions-of-the-COVID-19-Crisis/attachments/6246363?mode=media */
  /* source: https://dribbble.com/shots/11163313-Be-Negative */
}

.App{
  
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;

}

.head__title{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}


.main__body{
  /* border: 1px solid yellow; */
  margin-top: 3rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;

}


@media screen and (max-width: 1172px) {

  .main__body{
    flex-direction: column;
  }
  .main__body > :nth-child(1){
    order: 1;
  }

  /* .main__body > :nth-child(3){
    order: 1;
  } */

}


/* .countrySearch .countryName__container{
  
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  align-items: center;
} */

.countrySearch{
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.countrySearch input{

  margin-bottom: 1rem;
  width: 15rem;
}


.countryName__container{

  display: flex;
  flex-direction: column;
  position: inherit;

  width: 15rem;
  background-color: #43474d;
}

.modal{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}